
*{
    padding :0;
    margin:0;
box-sizing: border-box;
}
.infinite{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg,#0E2431 0%,#222831 100%);
    background-size: cover;
    animation: animatecolor 4s linear infinite;
    box-sizing: border-box;
}


/* @keyframes animatecolor { */
    /* 0% { */
        /* filter: hue-rotate(0deg); */
    /* } */
    /* 100% { */
        /* filter: hue-rotate(360deg); */
    /* } */
/* } */

    

.infinite .container{
    display:flex;
}
.infinite .container .circle{
    position: relative;
    width:150px;
    height:150px;
    margin: 0 -7.5px;
}
.infinite .container .circle span{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform: rotate(calc(18deg * var(--i)));
    /* 360 /20 =18 deg */
}
.infinite .container .circle span::before{
    content: '';
    position:absolute;
    right:0;
    top:calc(50% - 7.5px);
    width:15px;
    height:15px;
    background: 
   
    #EEEEEE;
    border-radius: 50%;
    /* box-shadow: 0 0 10px #eae4c4, */
    /* 0 0 20px  */
    /* #eae4c4, */
    /* 0 0 40px  */
    /* #eae4c4, */
    /* 0 0 60px  */
    /* #eae4c4, */
    /* 0 0 80px  */
    /* #eae4c4, */
    /* 0 0 100px */
    /* #eae4c4; */
    transform: scale(0.2);
    animation: animate 2s linear infinite;
    animation-delay: calc(0.05s * var(--i));
}
@keyframes animate
{
    0%{
        transform: scale(1);
    }
    50%,100%
    {
        transform: scale(0.1);
    }
}
.infinite .container .circle:nth-child(2) 
{
    transform: rotate(-180deg);
}
.infinite .container .circle:nth-child(2) span::before{
    animation-delay: calc(-0.05s * var(--i));
}

    .loading-message {
        position: absolute;
        bottom: 120px; /* Adjust the bottom position to control the spacing */
        left: 50%;
        transform: translateX(-50%);
         color:#00ADB5;
         font-size: 22px;
    font-family: 'Times New Roman', Times, serif;

    }
    #soon{
        position: absolute;
        bottom: 120px; /* Adjust the bottom position to control the spacing */
        left: 50%;
        transform: translateX(-50%);
         color:#00ADB5;
         font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    }

   











main{
    /* min-height: calc(100vh - 90px); */
    overflow: hidden;
    flex:1;
}

    body {
        background: linear-gradient(90deg,#0E2431 0%,#222831 100%);
        color: #E1E8ED;
        font-family: 'Poppins', sans-serif;
       margin:0px;
       padding:0px;
       width:100%;
       height: 100%;
    }
    #particles-js{
        width:100%;
        height:100%;
        position:absolute;
    }
    /* Navigation styles */
   /* Navigation styles */
   .particlesjs{
    width:100%;
    height:100%;
    background: linear-gradient(90deg,#0E2431 0%,#222831 100%);
    background-position: center;
    background-size: cover;
    z-index: -1;
   }
   .particlesjs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Place the mask above other content */
}
nav {
    position: fixed; /* Make the navigation bar sticky */
    top: 0; /* Stick it to the top of the viewport */
    width: 100%; /* Make it span the full width */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
    /* background-color: rgb(57, 62, 70); */
    background: linear-gradient(90deg,#031222 0%,rgb(57,62,70)100%);
    z-index: 5000; 
    font-family: 'Noto Serif', serif;
}

nav img {
    height: 60px;
    width: 104px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0; /* Remove the default margin */
    padding: 0; /* Remove the default padding */
}

nav ul li {
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: #E1E8ED;
}

nav ul li a:hover {
    font-size: 1.03rem;
    color: #00ADB5;
}
/* Add this CSS code to your existing styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav {
    /* ... (your existing styles) ... */
    animation: fadeIn 1s ease-in-out; /* Add the animation property */
}



    
    
    /* Page-specific styles */
    .font {
        font-size: 2rem;
    }
    
    .left {
        font-size: 1.5rem;
    }
    
    .firstsection {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 110px;
    }
    .pa
    
    .firstsection > div {
        width: 30%;
    }
   
    
    .leftsection {
        font-size: 2rem;
        color:#E1E8ED;
        font-family: 'Mooli', sans-serif;
        z-index: 3000;
    }
    
    .purple {
        color: #00ADB5;
        font-size: 3rem;
    }
   
    
    main img {
        width: 400px;
        height: 80%;
        border: solid rgba(0,255,255,.2);
        margin: 55px 65px;
        border-radius: 40px;
        z-index: 3000;
    }
    
    /* Animation */
    .navline {
        border: none;
        height: 2px;
        background-color: #00ADB5;
        width: 0;
        position: absolute;
        left: 48%;
        transform: translateX(-50%);
        opacity: 1;
        margin: -40px 30px;
    }
    
    .navline.hr-animation {
        animation: drawLine 2s linear forwards;
    }
    
    /* Keyframes animation for drawing the line */
    @keyframes drawLine {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    
   
    
    .logos {
        text-align: center; /* Center align the logos horizontally */
        /* background: linear-gradient(90deg,#081727 0%,#222831 100%); */

        border: none;
        margin-bottom: 20px;
    }
    

.logos img {
    width: 300px;
    height: 101px;
    margin: -24px 22px;
    border: none;
}
    
 
    #element{
        color: #00ADB5;
    }
 
/* Footer styles for the Contact Me page */
.main-content {
    background: linear-gradient(90deg,#0E2431 0%,#222831 100%);
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: none; 
    z-index: 5000;/* Initially hide the section */
}

.main-content #msg {
    font-size: 35px;
    color: #00ADB5;
    font-family: 'Noto Serif', serif;
}
.secondfoot p{
 color:#E1E8ED;
}

.main-content .flex {
    display: block;
    text-align: center;
}

.main-content .first img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    margin-right: 30px; /* Add spacing between the logos */
    margin: 20px 24px;

}
/* CSS for the social icons */
.first img {
    margin: 0 10px; /* Add margin to separate the icons */
    opacity: 0.7; /* Set initial opacity */
    transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Hover effect */
.first img:hover {
    opacity: 1; /* Change opacity to 1 on hover */
   background-color:  rgb(57, 62, 70);
   border-radius: 15px;
}



    .aboutclass {
       margin-top: 250px;
       height: 380px;
    }

    #about h2{
        font-size: 40px;
        font-family: 'Noto Serif', serif;
        color: #00ADB5;
        margin-top: 293px;
    }
    #about p{
        font-size: 25px;
        font-family: 'Mooli', sans-serif;
    }
    .aboutclass {
        text-align: center; /* Center-align the text in the section */
    }
    .aboutclass p{
        margin:32px;
    }
    .thisme {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin-top: -154px; /* Add some space between text and image */
        text-align: center; /* Center-align the text in the section */
    }
    
    #photome img {
        width: 473px;
        height: auto; /* Maintain aspect ratio */
        border-radius: 118px;
        margin: 159px 32px;
        z-index: 3000;
    }
    .burger{
        display: none;
position:absolute;
cursor: pointer;
right:5%;
top: 15px;

    }
    

    
  
    @media only screen and (max-width: 393px) {
        #navbar {
            flex-direction: column;
            width: 100%;
            background-color: #333;
            position: fixed;
            top: 0;
            left: 0;
            overflow-y: auto;
            height: 0; /* Set initial height to 0 */
            transition: height 0.3s ease; /* Add a smooth transition effect for height */
        }
    
        #navbar.active {
            height: 16vh; /* Increase the height when active */
        }
        nav ul li a:hover {
            font-size: 1.01rem;
            color: #00ADB5;
        }
        /* Add this CSS code to your existing styles */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        nav {
            /* ... (your existing styles) ... */
            animation: fadeIn 1s ease-in-out; /* Add the animation property */
            z-index: 5000; 
        }
        
    
        #navbar ul {
            flex-direction: column;
            align-items: center;
        }
    
        #navbar ul li {
            margin: 10px 0;
            color: #E1E8ED;
        }
    
        #navbar img {
            display: none;
        }
    
        .burger {
            display: block;
            position: fixed;
            z-index: 5000;
            cursor: pointer;
        }
       
        .line {
            width: 33px;
            background-color: #00ADB5;
            height: 4px;
            margin: 3px 0;
           transition: 0.3s ease-in;
        }
    
        .h-nav-resp {
            height: 201px;
        }
    
        .v-class-resp {
            opacity: 0;
            color: #00ADB5;
        }
        /* Add styles for the footer */
        footer.main-content {
            background-color: #222831;
            color: #E1E8ED;
            padding: 20px;
            text-align: center;
        }
        
        footer.main-content .flex {
            display: flex;
            flex-direction: column; /* Change flex direction to column */
            justify-content: center;
            align-items: center;
        }
        
        footer.main-content .flex img {
            height: 32px;
            width: 32px;
            margin: 10px 14px; /* Add vertical margin */
        }
        
    
    
              
        
        main img {
            width: 100%; /* Make the image span the full width */
            height:auto; /* Maintain aspect ratio */
            margin: 150px 0; /* Add spacing between the image and text */
            height: 80%;
            border: solid #00ADB5;
            border-radius: 40px;
    

        }
        #photome img {
            width: 340px; /* Make the image span the full width of its container */
            max-width: 400px; /* Set a maximum width to avoid stretching */
            height: auto;
            border-radius: 20px; /* Remove the border radius on smaller screens */
        }
        #about h2 {
            font-size: 28px; /* Adjust font size for smaller screens */
            margin-top: 8px; /* Adjust margin-top for smaller screens */
        }
        #about p {
            font-size: 20px; /* Adjust font size for smaller screens */
        }
    
        .aboutclass p {
            margin: 20px; /* Adjust margin for smaller screens */
        }
        .logos img {
            width: 214px;
            height: 68px;
            margin: -20px 17px;
            border: none;
        }
        .leftsection {
            font-size: 2rem;
            color: #E1E8ED;
            font-family: 'Noto Serif', serif;
        }
    }
/* Your existing styles here */

/* Media query for iPhone SE */

/* Your existing styles here */

/* Media query for Galaxy Fold */


@media screen and (max-width: 900px) {
    /* Adjustments for screens up to 900px width */

    #navbar {
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        height: 0; /* Set initial height to 0 */
        transition: height 0.3s ease; /* Add a smooth transition effect for height */
    }

    #navbar.active {
        height: 16vh; /* Increase the height when active */
    }
    nav ul li a:hover {
        font-size: 1.01rem;
        color: #00ADB5;
    }
    /* Add this CSS code to your existing styles */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    nav {
        /* ... (your existing styles) ... */
        animation: fadeIn 1s ease-in-out; /* Add the animation property */
        z-index: 5000; 
    }
    

    #navbar ul {
        flex-direction: column;
        align-items: center;
    }

    #navbar ul li {
        margin: 10px 0;
        color: #E1E8ED;
    }

    #navbar img {
        display: none;
    }

    .burger {
        display: block;
        position: fixed;
        z-index: 5000;
        cursor: pointer;
    }
   
    .line {
        width: 33px;
        background-color: #00ADB5;
        height: 4px;
        margin: 3px 0;
       transition: 0.3s ease-in;
    }

    .h-nav-resp {
        height: 201px;
    }

    .v-class-resp {
        opacity: 0;
        color: #00ADB5;
    }
    nav ul li a:hover {
        font-size: 1rem; /* Adjust font size for screens up to 900px width */
        color: #00ADB5;
    }
    nav img {
        height: 20px; 
        width: auto; 
    }
    .line {
        width: 30px; 
    }

    footer.main-content {
        padding: 10px; 
    }

    footer.main-content .flex img {
        height: 15px; 
        width: 15px;
        margin: 10px 12px; 
    }

    main img {
        width: 180px;
    margin: -388px -306px;
    }
    .font{
        font-size: 1.5rem;
    }
    .purple{
        font-size: 45px;
    }

    #photome img {
        width: 234px; /* Adjust the image width */
        max-width: 400px; /* Set a maximum width to avoid stretching */
        margin: 111px;
        border-radius: 16px; /* Remove the border radius on smaller screens */
    }

    #about h2 {
        font-size: 24px; /* Adjust font size for smaller screens */
        margin-top: -44px; /* Adjust margin-top for smaller screens */
    }

    #about p {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .aboutclass p {
        margin: 16px; /* Adjust margin for smaller screens */
    }

    .logos img {
        width: 112px;
        height: 39px;
        margin: -9px 12px;
    }
    .leftsection {
        color: #E1E8ED;
        font-family: 'Mooli', sans-serif;
        margin: 163px 35px;
    }
    .main-content #msg {
        font-size: 25px;
        color: #00ADB5;
        font-family: 'Noto Serif', serif;
    }
     

    
}



@media screen and (max-width: 390px)
{ 
    #navbar.active {
        height: 18vh;
    }
    nav ul li a:hover {
        font-size: 1rem; /* Adjust font size for screens up to 900px width */
        color: #00ADB5;
    }
    nav img {
        height: 20px; 
        width: auto; 
    }
    .line {
        width: 30px; 
    }

    footer.main-content {
        padding: 10px; 
    }

    footer.main-content .flex img {
        height: 15px; 
        width: 15px;
        margin: 10px 12px; 
    }

    main img {
        width: 180px;
        width: 180px;
    margin: -323px -286px;
    }
    .font{
        font-size: 15px;
    }
    .purple{
        font-size: 28px;
    }

    #photome img {
        width: 234px; /* Adjust the image width */
        max-width: 400px; /* Set a maximum width to avoid stretching */
        margin: 111px; /* Remove the border radius on smaller screens */
    }

    #about h2 {
        font-size: 24px; /* Adjust font size for smaller screens */
        margin-top: -44px; /* Adjust margin-top for smaller screens */
    }

    #about p {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .aboutclass p {
        margin: 16px; /* Adjust margin for smaller screens */
    }

    .logos img {
        width: 112px;
        height: 39px;
        margin: -9px 12px;
    }
    .leftsection {
        color: #E1E8ED;
        font-family: 'Mooli', sans-serif;
        margin: 163px 35px;
    }
    .main-content #msg {
        font-size: 25px;
        color: #00ADB5;
        font-family: 'Noto Serif', serif;
    }
}
