*{
    padding :0;
    margin:0;
box-sizing: border-box;
}
.infinite{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: -22px;
    background-color: #0E2431;
    background-size: cover;
    animation: animatecolor 4s linear infinite;
    box-sizing: border-box;
margin-top: 300px;
}


/* @keyframes animatecolor { */
    /* 0% { */
        /* filter: hue-rotate(0deg); */
    /* } */
    /* 100% { */
        /* filter: hue-rotate(360deg); */
    /* } */
/* } */

    

.infinite .container{
    display:flex;
}
.infinite .container .circle{
    position: relative;
    width:150px;
    height:150px;
    margin: 0 -7.5px;
}
.infinite .container .circle span{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform: rotate(calc(18deg * var(--i)));
    /* 360 /20 =18 deg */
}
.infinite .container .circle span::before{
    content: '';
    position:absolute;
    right:0;
    top:calc(50% - 7.5px);
    width:15px;
    height:15px;
    background: 
   
    #EEEEEE;
    border-radius: 50%;
    /* box-shadow: 0 0 10px #eae4c4, */
    /* 0 0 20px  */
    /* #eae4c4, */
    /* 0 0 40px  */
    /* #eae4c4, */
    /* 0 0 60px  */
    /* #eae4c4, */
    /* 0 0 80px  */
    /* #eae4c4, */
    /* 0 0 100px */
    /* #eae4c4; */
    transform: scale(0.2);
    animation: animate 2s linear infinite;
    animation-delay: calc(0.05s * var(--i));
}
@keyframes animate
{
    0%{
        transform: scale(1);
    }
    50%,100%
    {
        transform: scale(0.1);
    }
}
.infinite .container .circle:nth-child(2) 
{
    transform: rotate(-180deg);
}
.infinite .container .circle:nth-child(2) span::before{
    animation-delay: calc(-0.05s * var(--i));
}
.loading-message {
    position: absolute;
    bottom: 120px; /* Adjust the bottom position to control the spacing */
    left: 50%;
    transform: translateX(-50%);
     color:#00ADB5;
     font-size: 22px;
font-family: 'Times New Roman', Times, serif;

}
#soon{
    position: absolute;
    bottom: 120px; /* Adjust the bottom position to control the spacing */
    left: 50%;
    transform: translateX(-50%);
     color:#00ADB5;
     font-size: 22px;
font-family: 'Times New Roman', Times, serif;
}
main{
    /* min-height: calc(100vh - 90px); */
    overflow: hidden;
    flex:1;
}

    body {
       background: #0E2431;
        color: #E1E8ED;
        font-family: 'Poppins', sans-serif;
       margin:0px;
       padding:0px;
       width:100%;
       height: 100%;
    }
    #particles-js{
        width:100%;
        height:100%;
        position:absolute;
    }
    /* Navigation styles */
   /* Navigation styles */
   .particlesjs{
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
   }
   .particlesjs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Place the mask above other content */
}
nav {
    position: fixed; /* Make the navigation bar sticky */
    top: 0; /* Stick it to the top of the viewport */
    width: 100%; /* Make it span the full width */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    /* background-color: rgb(57, 62, 70); */
    background: linear-gradient(90deg,#000d14 0%,#091829 100%);
    z-index: 5000; 
    font-family: 'Noto Serif', serif;
}

nav img {
    height: 60px;
    width: 104px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0; /* Remove the default margin */
    padding: 0; /* Remove the default padding */
}

nav ul li {
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: #E1E8ED;
}

nav ul li a:hover {
    font-size: 1.03rem;
    color: #00ADB5;
}
/* Add this CSS code to your existing styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav {
    /* ... (your existing styles) ... */
    animation: fadeIn 1s ease-in-out; /* Add the animation property */
}

.font {
    font-size: 2rem;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 110px;
}
.pa

.firstsection > div {
    width: 30%;
}


.leftsection {
    font-size: 2rem;
    color:#E1E8ED;
    font-family: 'Mooli', sans-serif;
    z-index: 3000;
  background-color: #0E2431;
    border-radius: 30px;

}

.purple {
    color: #00ADB5;
    font-size: 3rem;
}


main img {
    width: 400px;
    height: 80%;
    border: solid rgba(0,255,255,.2);
    margin: 55px 65px;
    border-radius: 40px;
    z-index: 3000;
}

/* Animation */
.navline {
    border: none;
    height: 2px;
    background-color: #00ADB5;
    width: 0;
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    opacity: 1;
    margin: -40px 30px;
}

.navline.hr-animation {
    animation: drawLine 2s linear forwards;
}

/* Keyframes animation for drawing the line */
@keyframes drawLine {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}



.logos {
    text-align: center; /* Center align the logos horizontally */
    /* background: linear-gradient(90deg,#081727 0%,#222831 100%); */

    border: none;
    margin-bottom: 20px;
}
.logos img {
    width: 300px;
    height: 101px;
    margin: -24px 22px;
    border: none;
}
    
 
    #element{
        color: #00ADB5;
    }
 
/* Footer styles for the Contact Me page */
.main-content {
    background: #0E2431;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: none; 
    z-index: 5000;/* Initially hide the section */
}

.main-content #msg {
    font-size: 35px;
    color: #00ADB5;
    font-family: 'Noto Serif', serif;
}
.secondfoot p{
 color:#E1E8ED;
}

.main-content .flex {
    display: block;
    text-align: center;
}

.main-content .first img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    margin-right: 30px; /* Add spacing between the logos */
    margin: 20px 24px;

}
/* CSS for the social icons */
.first img {
    margin: 0 10px; /* Add margin to separate the icons */
    opacity: 0.7; /* Set initial opacity */
    transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Hover effect */
.first img:hover {
    opacity: 1; /* Change opacity to 1 on hover */
   background-color:  rgb(57, 62, 70);
   border-radius: 15px;
}



    .aboutclass {
       margin-top: 250px;
       height: 380px;
       text-align: center;
      
       z-index: 3000;
    }

    #about h2{
        font-size: 40px;
        font-family: 'Noto Serif', serif;
        color: #00ADB5;
        margin-top: 293px;
        background-color:#0E2431;
        z-index: 3000;
    }
    #about p{
        font-size: 25px;
        font-family: 'Mooli', sans-serif;
        background-color:#0E2431;
        z-index: 3000;
    }
    .aboutclass p{
        margin:32px;
    }
    .thisme {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin-top: -154px; /* Add some space between text and image */
        text-align: center; /* Center-align the text in the section */
    }
    #photome img {
        width: 473px;
        height: auto; /* Maintain aspect ratio */
        border-radius: 118px;
        margin: 159px 32px;
        z-index: 3000;
    }
    .burger{
        display: none;
position:absolute;
cursor: pointer;
right:5%;
top: 15px;

    }
    #coffee{
        color: #00ADB5;
    }
    #gym{
        color:#00ADB5;
    }
    #shop{
        color: #00ADB5;
    }

    #pr{
        text-align: center;
        color: #00ADB5;
        margin-top: -100px;
        font-size: 32px;
        margin-bottom: 120px;
        font-family: 'Noto Serif', serif;
    }
    .projectsclass{
        width:100%;
        height:100vh;
        display: flex;
        flex-direction:column;
        justify-content:center;
        overflow:hidden;
        font-family: Arial, Helvetica, sans-serif;
    }

    .slider{
        display: flex;
        flex-wrap: nowrap;
        overflow:hidden;
        user-select:none;
        padding:0 5vw;
        width:fit-content;
    }
    .slide{
        width:50vw;
        height:500px;
        margin: 0 5vw;
        position: relative;
        transition:all .7s ease;
    }
    .slide > .photo{
        width:inherit;
        height: inherit;
        transition:all 1s ease;
    }
    .slide > .photo > img {
        width:80%;
        height:80%;
        object-fit:cover;
        border-radius: 16px;
    }
    .slide>.text{
        position:absolute;
        bottom:20%;
        right:-50px;
        color:#fff;
        transition:all .4s ease;
    }
    .slide > .text h2{
        font-size: 4rem;
        margin-bottom: 0;
    }
    .slide > .text p{
        font-size: 1.3rem;
        margin-top:.5rem;
    }
    /* slide numbers */
    .slide .photo::before{
        content: '';
        position: absolute;
        color:#fff;
        transform: rotate(-90deg);
        top:40px;
        left:-60px;
    
    }
    .slide:nth-child(1).photo::before{
        content:'01 ____ 05';
    }
    .slide:nth-child(2).photo::before{
        content:'02 ____ 05';
    }
    .slide:nth-child(3).photo::before{
        content:'03 ____ 05';
    }
    .slide:nth-child(4).photo::before{
        content:'04 ____ 05';
    }
    .slide:nth-child(5).photo::before{
        content:'05 ____ 05';
    }
    /* press animation */
    .slider:active{
        cursor: grabbing;
    }
    .slider:active .slide{
        transform: scale(0.9);
        margin:0 0;
    }
    .slider:active .slide .text{
    transform: translateX(-40%);
    }
   
    
    
    
    /* correction for media queries */
    /* iPhone SE */
    @media (max-width: 310px) { 
        #navbar {
            flex-direction: column;
            width: 100%;
            background-color: #333;
            position: fixed;
            top: 0;
            left: 0;
            overflow-y: auto;
            height: 0; /* Set initial height to 0 */
            transition: height 0.3s ease; /* Add a smooth transition effect for height */
        }
    
        #navbar.active {
            height: 21vh; /* Increase the height when active */
        }
        nav ul li a:hover {
            font-size: 1.01rem;
            color: #00ADB5;
        }
        /* Add this CSS code to your existing styles */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        nav {
            /* ... (your existing styles) ... */
            animation: fadeIn 1s ease-in-out; /* Add the animation property */
            z-index: 5000; 
        }
        
    
        #navbar ul {
            flex-direction: column;
            align-items: center;
        }
    
        #navbar ul li {
            margin: 10px 0;
            color: #E1E8ED;
        }
    
        #navbar img {
            display: none;
        }
    
        .burger {
            display: block;
            position: fixed;
            z-index: 5000;
            cursor: pointer;
        }
       
        .line {
            width: 33px;
            background-color: #00ADB5;
            height: 4px;
            margin: 3px 0;
           transition: 0.3s ease-in;
        }
    
        .h-nav-resp {
            height: 201px;
        }
    
        .v-class-resp {
            opacity: 0;
            color: #00ADB5;
        }
        nav ul li a:hover {
            font-size: 1rem; /* Adjust font size for screens up to 900px width */
            color: #00ADB5;
        }
        nav img {
            height: 20px; 
            width: auto; 
        }
        .line {
            width: 30px; 
        }
    
        footer.main-content {
            padding: 10px; 
        }
    
        footer.main-content .flex img {
            height: 20px; 
            width: 19px;
            margin: 10px 12px; 
        }
    
        main img {
           
            width: 156px;
            margin: -320px -219px
        }
        .font{
            font-size: 1.5rem;
        }
        .purple{
            font-size: 45px;
        }
    
        #photome img {
            width: 180px;
    margin: 79px 23px;
    border-radius: 8px;
}


        
    
        #about h2 {
            font-size: 20px; /* Adjust font size for smaller screens */
            margin-top: 64px; 
            background-color: #0E2431;/* Adjust margin-top for smaller screens */
        }
    
        #about p {
            font-size: 14px;
            background-color: #0E2431; /* Adjust font size for smaller screens */
        }
    
        .aboutclass p {
            margin: 16px; /* Adjust margin for smaller screens */
        }
    
        .logos img {
            width: 96px;
            height: 30px;
            margin: -6px 12px;
        }
        .leftsection {
            color: #E1E8ED;
    font-family: 'Mooli', sans-serif;
    margin: -15px 35px;
    font-size: 1.8rem;
    background-color: #0E2431;
    border-radius: 20px;
}

        .main-content #msg {
            font-size: 22px;
            color: #00ADB5;
            font-family: 'Noto Serif', serif;
        }
        .secondfoot p {
            color: #E1E8ED;
            font-size: 12px;
        }
        .loading-message {
            position: absolute;
            bottom: 130px; /* Adjust the bottom position to control the spacing */
            left: 60%;
            transform: translateX(-50%);
             color:#00ADB5;
             font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        
         

    }
    #pr{
        text-align: center;
        color: #00ADB5;
        margin-top: -599px;
        font-size: 24px;
        margin-bottom: 120px;
        font-family: 'Noto Serif', serif;
    }
    .text h2 {
        font-size: 1.5rem;
        margin-bottom: 0;
        margin-left: 110px;
       
    }
    .slide > .text h2 {
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 0;
        margin-right: 34px;
        
        
    }
    .slide > .text p {
        font-size: 1.1rem;
        margin-top: 0.5rem;
        margin-left: 100px;
    }
}
@media (min-width: 311px) and (max-width: 359px) {
    #navbar {
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        height: 0; /* Set initial height to 0 */
        transition: height 0.3s ease; /* Add a smooth transition effect for height */
    }

    #navbar.active {
        height: 17vh; /* Increase the height when active */
    }
    nav ul li a:hover {
        font-size: 1.01rem;
        color: #00ADB5;
    }
    /* Add this CSS code to your existing styles */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    nav {
        /* ... (your existing styles) ... */
        animation: fadeIn 1s ease-in-out; /* Add the animation property */
        z-index: 5000; 
    }
    

    #navbar ul {
        flex-direction: column;
        align-items: center;
    }

    #navbar ul li {
        margin: 10px 0;
        color: #E1E8ED;
    }

    #navbar img {
        display: none;
    }

    .burger {
        display: block;
        position: fixed;
        z-index: 5000;
        cursor: pointer;
    }
   
    .line {
        width: 33px;
        background-color: #00ADB5;
        height: 4px;
        margin: 3px 0;
       transition: 0.3s ease-in;
    }

    .h-nav-resp {
        height: 201px;
    }

    .v-class-resp {
        opacity: 0;
        color: #00ADB5;
    }
    nav ul li a:hover {
        font-size: 1rem; /* Adjust font size for screens up to 900px width */
        color: #00ADB5;
    }
    nav img {
        height: 20px; 
        width: auto; 
    }
    .line {
        width: 30px; 
    }

    footer.main-content {
        padding: 10px; 
    }

    footer.main-content .flex img {
        height: 20px; 
        width: 19px;
        margin: 10px 12px; 
    }

    main img {
       
        width: 230px;
        margin: -403px -279px;;
    }
    .font{
        font-size: 1.5rem;
    }
    .purple{
        font-size: 45px;
    }

    #photome img {
        width: 275px;
        max-width: 418px;
        margin: 220px 23px;
        border-radius: 16px;
    }
    #about{
        background-color: #0E2431;
       }
    #about h2 {
        font-size: 24px; /* Adjust font size for smaller screens */
        margin-top: 324px; 
        background-color: #0E2431;/* Adjust margin-top for smaller screens */
    }

    #about p {
        font-size: 18px;
        background-color: #0E2431; /* Adjust font size for smaller screens */
    }

    .aboutclass p {
        margin-top: 16px; /* Adjust margin for smaller screens */
    }

    
    
    
    .leftsection {
        color: #E1E8ED;
        font-family: 'Mooli', sans-serif;
        margin: 1px 35px;
        background-color: #0E2431;
    }
    .main-content #msg {
        font-size: 25px;
        color: #00ADB5;
        font-family: 'Noto Serif', serif;
        background-color: #0E2431;
    }
    .loading-message {
        position: absolute;
        bottom: 50px; /* Adjust the bottom position to control the spacing */
        left: 50%;
        transform: translateX(-50%);
         color:#00ADB5;
         font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
     

}
#pr{
    text-align: center;
    color: #00ADB5;
    margin-top: -599px;
    font-size: 24px;
    margin-bottom: 120px;
    font-family: 'Noto Serif', serif;
}
.text h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 110px;
   
}
.slide > .text h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 34px;
    
    
}
.slide > .text p {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-left: 100px;
}
}
    @media (min-width: 360px) and (max-width: 481px) {
        .infinite{
            display:flex;
            justify-content: center;
            align-items: center;
            min-height: -1000px;
            background-color: #0E2431;
            background-size: cover;
            animation: animatecolor 4s linear infinite;
            box-sizing: border-box;
            margin-top: 350px;
        }
        .text h2 {
            font-size: 1.8rem;
            margin-bottom: 0;
            margin-left: 110px;
           
        }
        .slide > .text h2 {
            font-size: 1.8rem;
            margin-top: 10px;
            margin-bottom: 0;
            
            
        }
        .slide > .text p {
            font-size: 1.3rem;
            margin-top: 0.5rem;
            margin-left: 100px;
        }
        .slide{
            width:50vw;
            height:500px;
            margin: 0 5vw;
            position: relative;
            transition:all .7s ease;
        }
        .slide > .photo{
            width:inherit;
            height: inherit;
            transition:all 1s ease;
        }
        .slide > .photo > img {
            width:80%;
            height:80%;
            margin-left: 20px;
            object-fit:cover;
            border-radius: 16px;
        }
        .slide>.text{
            position:absolute;
            bottom:20%;
            right:-50px;
            color:#fff;
            transition:all .4s ease;
        }
        #pr {
            text-align: center;
            color: #00ADB5;
            margin-top: -6px;
            font-size: 24px;
            margin-bottom: 120px;
        }
        
        #navbar {
            flex-direction: column;
            width: 100%;
            background-color: #333;
            position: fixed;
            top: 0;
            left: 0;
            overflow-y: auto;
            height: 0; /* Set initial height to 0 */
            transition: height 0.3s ease; /* Add a smooth transition effect for height */
            text-align: center;
        }
    
        #navbar.active {
            height: 17vh; /* Increase the height when active */
        }
        nav ul li a:hover {
            font-size: 1.01rem;
            color: #00ADB5;
        }
        /* Add this CSS code to your existing styles */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        nav {
            /* ... (your existing styles) ... */
            animation: fadeIn 1s ease-in-out; /* Add the animation property */
            z-index: 5000; 
        }
        
    
        #navbar ul {
            flex-direction: column;
            align-items: center;
        }
    
        #navbar ul li {
            margin: 10px 0;
            color: #E1E8ED;
        }
    
        #navbar img {
            display: none;
        }
    
        .burger {
            display: block;
            position: fixed;
            z-index: 5000;
            cursor: pointer;
        }
       
        .line {
            width: 33px;
            background-color: #00ADB5;
            height: 4px;
            margin: 3px 0;
           transition: 0.3s ease-in;
        }
    
        .h-nav-resp {
            height: 201px;
        }
    
        .v-class-resp {
            opacity: 0;
            color: #00ADB5;
        }
        nav ul li a:hover {
            font-size: 1rem; /* Adjust font size for screens up to 900px width */
            color: #00ADB5;
        }
        nav img {
            height: 20px; 
            width: auto; 
        }
        .line {
            width: 30px; 
        }
    
        footer.main-content {
            padding: 10px; 
        }
    
        footer.main-content .flex img {
            height: 20px; 
            width: 19px;
            margin: 10px 12px; 
        }
    
        main img {
           
            width: 160px;
            margin: -350px -301px;
        }
        .font{
            font-size: 1.5rem;
        }
        .purple{
            font-size: 45px;
        }
    
        #photome img {
            width: 180px;
            max-width: 418px;
            margin:112px 23px;
            border-radius: 16px;
        }
        #about{
            background-color: #0E2431;
           }
        #about h2 {
            font-size: 24px; /* Adjust font size for smaller screens */
            margin-top: -58px; 
            background-color: #0E2431;/* Adjust margin-top for smaller screens */
        }
    
        #about p {
            font-size: 18px;
            background-color: #0E2431; /* Adjust font size for smaller screens */
        }
    
        .aboutclass p {
            margin: 16px; /* Adjust margin for smaller screens */
        }
    
        
        
        
        .leftsection {
            color: #E1E8ED;
            font-family: 'Mooli', sans-serif;
            margin: 166px 35px;
            background-color: #0E2431;
        }
        .main-content #msg {
            font-size: 25px;
            color: #00ADB5;
            font-family: 'Noto Serif', serif;
            background-color: #0E2431;
        }
        .loading-message {
            position: absolute;
            bottom: 130px; /* Adjust the bottom position to control the spacing */
            left: 50%;
            transform: translateX(-50%);
             color:#00ADB5;
             font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
         
    
    }
    
    }
@media (min-width: 481px) and (max-width: 767px) {
    #navbar {
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        height: 0; /* Set initial height to 0 */
        transition: height 0.3s ease; /* Add a smooth transition effect for height */
    }

    #navbar.active {
        height: 15vh; /* Increase the height when active */
    }
    nav ul li a:hover {
        font-size: 1.01rem;
        color: #00ADB5;
    }
    /* Add this CSS code to your existing styles */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    nav {
        /* ... (your existing styles) ... */
        animation: fadeIn 1s ease-in-out; /* Add the animation property */
        z-index: 5000; 
    }
    

    #navbar ul {
        flex-direction: column;
        align-items: center;
    }

    #navbar ul li {
        margin: 10px 0;
        color: #E1E8ED;
    }

    #navbar img {
        display: none;
    }

    .burger {
        display: block;
        position: fixed;
        z-index: 5000;
        cursor: pointer;
    }
   
    .line {
        width: 33px;
        background-color: #00ADB5;
        height: 4px;
        margin: 3px 0;
       transition: 0.3s ease-in;
    }

    .h-nav-resp {
        height: 201px;
    }

    .v-class-resp {
        opacity: 0;
        color: #00ADB5;
    }
    nav ul li a:hover {
        font-size: 1rem; /* Adjust font size for screens up to 900px width */
        color: #00ADB5;
    }
    nav img {
        height: 20px; 
        width: auto; 
    }
    .line {
        width: 30px; 
    }

    footer.main-content {
        padding: 10px; 
    }

    footer.main-content .flex img {
        height: 22px; 
        width: 21px;
        margin: 10px 12px; 
    }

    main img {
        width: 195px;
        margin: -352px -438px;
    }
    .font{
        font-size: 1.5rem;
    }
    .purple{
        font-size: 45px;
    }

    #photome img {
        width: 234px;
        max-width: 400px;
        margin: 50px;
        border-radius: 16px;
    }

    #about h2 {
        font-size: 24px; /* Adjust font size for smaller screens */
        margin-top: -44px; 
        background-color: #0E2431;/* Adjust margin-top for smaller screens */
    }

    #about p {
        font-size: 18px;
        background-color: #0E2431; /* Adjust font size for smaller screens */
    }

    .aboutclass p {
        margin: 16px; /* Adjust margin for smaller screens */
    }

    .logos img {
        width: 112px;
        height: 39px;
        margin: -9px 12px;
    }
    .leftsection {
        color: #E1E8ED;
        font-family: 'Mooli', sans-serif;
        margin: 163px 35px;
        background-color: #0E2431;
    }
    .main-content #msg {
        font-size: 26px;
        color: #00ADB5;
        font-family: 'Noto Serif', serif;
    }
    #pr {
        text-align: center;
        color: #00ADB5;
        margin-top: 12px;
        font-size: 32px;
        margin-bottom: 120px;
        font-family: 'Noto Serif', serif;
    }
    .slide > .text h2 {
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 0;
    }
    
    
}

    @media (min-width: 768px) and (max-width: 1023px){
        .infinite{
            display:flex;
            justify-content: center;
            align-items: center;
            min-height: -800px;
            background-color: #0E2431;
            background-size: cover;
            animation: animatecolor 4s linear infinite;
            box-sizing: border-box;
        margin-top: 400px;
        }
        .loading-message {
            position: absolute;
            bottom: 300px; /* Adjust the bottom position to control the spacing */
            left: 50%;
            transform: translateX(-50%);
             color:#00ADB5;
             font-size:22px;
        font-family: 'Times New Roman', Times, serif;
        }
        nav ul li a:hover {
            font-size: 1rem; /* Adjust font size for screens up to 900px width */
            color: #00ADB5;
        }
        nav img {
            height: 101px; 
            width: auto; 
        }
        .line {
            width: 30px; 
        }
    
        footer.main-content {
            padding: 10px; 
        }
    
        footer.main-content .flex img {
            height: 26px; 
            width: 25px;
            margin: 10px 12px; 
        }
    
        main img {
            width: 233px;
            margin: -332px -483px;
        }
        .font{
            font-size: 1.5rem;
        }
        .purple{
            font-size: 45px;
        }
    
        #photome img {
            width: 263px;
            max-width: 400px;
            margin: 43px;
            border-radius: 16px;
        }
    
        #about h2 {
            font-size: 24px; /* Adjust font size for smaller screens */
            margin-top: -44px;
         
        }
    
        #about p {
            font-size: 18px; 
            background-color: solid #0E2431;
            z-index: 8000;
          
        }
    
        .aboutclass p {
            margin: 16px; /* Adjust margin for smaller screens */
        }
        .particlesjs {
            width: 100%;
            height: 50%;
            background-position: center;
            background-size: cover;
      
        }
    
        .logos img {
            width: 112px;
            height: 39px;
            margin: -9px 12px;
        }
        .leftsection {
            color: #E1E8ED;
            font-family: 'Mooli', sans-serif;
            margin: 163px 35px;
            background-color: #0E2431;
        }
        .main-content #msg {
            font-size: 28px;
            color: #00ADB5;
            font-family: 'Noto Serif', serif;
        }
        #pr {
            text-align: center;
            color: #00ADB5;
            margin-top: -285px;
            font-size: 32px;
            margin-bottom: 120px;
        }
    }
@media (min-width: 1024px) and (max-width: 1280px){ 
    nav ul li a:hover {
        font-size: 1rem; /* Adjust font size for screens up to 900px width */
        color: #00ADB5;
    }
    nav img {
        height: 101px; 
        width: auto; 
    }
    .line {
        width: 30px; 
    }

    footer.main-content {
        padding: 10px; 
    }

    footer.main-content .flex img {
        height: 26px; 
        width: 25px;
        margin: 10px 12px; 
    }

    main img {
        width: 233px;
          margin: -332px -537px;
    }
    .font{
        font-size: 1.5rem;
    }
    .purple{
        font-size: 45px;
    }

    #photome img {
        width: 263px;
        max-width: 400px;
        margin: 43px;
        border-radius: 16px;
    }

    #about h2 {
        font-size: 24px; /* Adjust font size for smaller screens */
        margin-top: -44px;
     
    }

    #about p {
        font-size: 18px; 
      
    }

    .aboutclass p {
        margin: 16px; /* Adjust margin for smaller screens */
    }
    .particlesjs {
        width: 100%;
        height: 50%;
        background-position: center;
        background-size: cover;
  
    }

    .logos img {
        width: 112px;
        height: 39px;
        margin: -9px 12px;
    }
    .leftsection {
        color: #E1E8ED;
        font-family: 'Mooli', sans-serif;
        margin: 163px 35px;
        background-color: #0E2431;
    }
    .main-content #msg {
        font-size: 28px;
        color: #00ADB5;
        font-family: 'Noto Serif', serif;
    }
    #pr {
        text-align: center;
        color: #00ADB5;
        margin-top: 22px;
        font-size: 24px;
        margin-bottom: 120px;
    }
    .loading-message {
        position: absolute;
        bottom: 100px; /* Adjust the bottom position to control the spacing */
        left: 50%;
        transform: translateX(-50%);
         color:#00ADB5;
         font-size:22px;
    font-family: 'Times New Roman', Times, serif;
    }
    .infinite{
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: -22px;
        background-color: #0E2431;
        background-size: cover;
        animation: animatecolor 4s linear infinite;
        box-sizing: border-box;
    margin-top: 250px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){ 
    /* Adjust styles specifically for iPad Air */
   
    .infinite{
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: -22px;
        background-color: #0E2431;
        background-size: cover;
        animation: animatecolor 4s linear infinite;
        box-sizing: border-box;
    margin-top: 700px;
    }
    .loading-message {
        position: absolute;
        bottom: 300px; /* Adjust the bottom position to control the spacing */
        left: 50%;
        transform: translateX(-50%);
         color:#00ADB5;
         font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    }
    nav ul li a:hover {
        font-size: 1rem; /* Adjust font size for screens up to 900px width */
        color: #00ADB5;
    }
    nav img {
        height: 101px; 
        width: auto; 
    }
    .line {
        width: 30px; 
    }
  

    footer.main-content {
        padding: 10px; 
    }

    footer.main-content .flex img {
        height: 30px; 
        width: 29px;
        margin: 10px 12px; 
    }

    main img {
        width: 302px;
        margin: -376px -617px;
    }
    .font{
        font-size: 1.5rem;
    }
    .purple{
        font-size: 45px;
    }

    #photome img {
        width: 360px;
        max-width: 400px;
        margin: 145px;
        border-radius: 16px;
    }

    #about h2 {
       
        font-size: 30px; /* Adjust font size for smaller screens */
        margin-top: -44px; /* Adjust margin-top for smaller screens */
    }

    #about p {
       
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    .aboutclass p {
        margin: 16px; /* Adjust margin for smaller screens */
    }

    .logos img {
        width: 252px;
        height: 92px;
        margin: -9px 12px;
    }
    .leftsection {
        color: #E1E8ED;
        font-family: 'Mooli', sans-serif;
        margin: 163px 35px;
        background-color: #0E2431;
    }
    .main-content #msg {
        font-size: 30px;
        color: #00ADB5;
        font-family: 'Noto Serif', serif;
    }
    
}
@media (min-width: 1281px) { 
    
    nav ul li a:hover {
        font-size: 1rem; /* Adjust font size for screens up to 900px width */
        color: #00ADB5;
    }
    nav img {
        height: 101px; 
        width: auto; 
    }
    .line {
        width: 30px; 
    }

    footer.main-content {
        padding: 10px; 
    }

    footer.main-content .flex img {
        height: 39px;
        width: 36px;
        margin: 9px 31px;
    }

    main img {
        width: 409px;
        margin: 115px -132px;
    }
    .font{
        font-size: 2.5rem;
    }
    .purple{
        font-size: 45px;
    }

    #photome img {
        width: 345px;
        margin: 90px;
        border-radius: 17px;
    }
       .aboutclass{
        background-color: #0E2431;
       }
    #about h2 {
        font-size: 32px;
        margin-top: 44px;
        background-color:#0E2431;
        z-index: 3000;
      
    }

    #about p {
        font-size: 25px; 
        background-color:#0E2431;
        z-index: 3000;
        
    }

    .aboutclass p {
        margin: 16px; 
        background-color:#0E2431;
        z-index: 3000;/* Adjust margin for smaller screens */
    }

    .logos img {
        width: 182px;
        height: 74px;
        margin: -9px 12px;
    }
    .leftsection {
        color: #E1E8ED;
        font-family: 'Mooli', sans-serif;
        margin: 163px 35px;
        font:2.5rem;
        background-color: #0E2431;
        border-radius: 100px;
    }
   /* Footer styles for the Contact Me page */
.main-content {
    background-color: #0E2431;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: none; 
    z-index: 5000;/* Initially hide the section */
}

.main-content #msg {
    font-size: 35px;
    color: #00ADB5;
    font-family: 'Noto Serif', serif;
}
.secondfoot p{
    font-size: 20px;
 color:#E1E8ED;
}

.main-content .flex {
    display: block;
    text-align: center;
}

.main-content .first img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    margin-right: 30px; /* Add spacing between the logos */
    margin: 20px 24px;

}
/* CSS for the social icons */
.first img {
    margin: 0 10px; /* Add margin to separate the icons */
    opacity: 0.7; /* Set initial opacity */
    transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Hover effect */
.first img:hover {
    opacity: 1; /* Change opacity to 1 on hover */
   background-color:  rgb(57, 62, 70);
   border-radius: 15px;
}
}
@media only screen and (width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) { 
    #navbar {
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        height: 0; /* Set initial height to 0 */
        transition: height 0.3s ease; /* Add a smooth transition effect for height */
    }

    #navbar.active {
        height: 16vh; /* Increase the height when active */
    }
    nav ul li a:hover {
        font-size: 1.01rem;
        color: #00ADB5;
    }
    /* Add this CSS code to your existing styles */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    nav {
        /* ... (your existing styles) ... */
        animation: fadeIn 1s ease-in-out; /* Add the animation property */
        z-index: 5000; 
    }
    

    #navbar ul {
        flex-direction: column;
        align-items: center;
    }

    #navbar ul li {
        margin: 10px 0;
        color: #E1E8ED;
    }

    #navbar img {
        display: none;
    }

    .burger {
        display: block;
        position: fixed;
        z-index: 5000;
        cursor: pointer;
    }
   
    .line {
        width: 33px;
        background-color: #00ADB5;
        height: 4px;
        margin: 3px 0;
       transition: 0.3s ease-in;
    }

    .h-nav-resp {
        height: 201px;
    }

    .v-class-resp {
        opacity: 0;
        color: #00ADB5;
    }
    nav ul li a:hover {
        font-size: 1rem; /* Adjust font size for screens up to 900px width */
        color: #00ADB5;
    }
    nav img {
        height: 20px; 
        width: auto; 
    }
    .line {
        width: 30px; 
    }

    footer.main-content {
        padding: 10px; 
    }

    footer.main-content .flex img {
        height: 20px; 
        width: 19px;
        margin: 10px 12px; 
    }

    main img {
       
        width: 180px;
        margin: -361px -296px;
    }
    .font{
        font-size: 1.5rem;
    }
    .purple{
        font-size: 45px;
    }

    #photome img {
        width: 236px;
        max-width: 418px;
        margin: 105px 23px;
        border-radius: 16px;
    }
    #about{
        background-color: #0E2431;
       }
    #about h2 {
        font-size: 24px; /* Adjust font size for smaller screens */
        margin-top: -58px; 
        background-color: #0E2431;/* Adjust margin-top for smaller screens */
    }

    #about p {
        font-size: 18px;
        background-color: #0E2431; /* Adjust font size for smaller screens */
    }

    .aboutclass p {
        margin: 16px; /* Adjust margin for smaller screens */
    }

    .logos img {
        width: 162px;
        height: 68px;
        margin: -14px 12px;
    }
    .leftsection {
        color: #E1E8ED;
        font-family: 'Mooli', sans-serif;
        margin: 166px 35px;
        background-color: #0E2431;
    }
    .main-content #msg {
        font-size: 25px;
        color: #00ADB5;
        font-family: 'Noto Serif', serif;
        background-color: #0E2431;
    }
     

}